<div [formGroup]="form">
  <div class="form-field">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput placeholder="Cafe name" formControlName="name" required />
      <mat-error>
        <app-error [errors]="form.controls['name'].errors"></app-error>
      </mat-error>

      <!-- @if (form.controls['name'].invalid) {
      <mat-error>{{ form.controls["name"].errors | json }}</mat-error>
      } -->
      <mat-icon matSuffix>storefront</mat-icon>
      <mat-hint>Minimum 6 characters and max 10 characters</mat-hint>
    </mat-form-field>
  </div>
  <div class="form-field">
    <mat-form-field>
      <mat-label>Description</mat-label>
      <input
        matInput
        placeholder="description"
        formControlName="description"
        required
      />
      <mat-error>
        <app-error [errors]="form.controls['description'].errors"></app-error>
      </mat-error>
      <mat-icon matSuffix>description</mat-icon>
      <mat-hint>Max 256 characters</mat-hint>
    </mat-form-field>
  </div>
  <div class="form-field">
    <mat-form-field (click)="fileInput.click()">
      <mat-label>Logo</mat-label>
      <input matInput hidden formControlName="logo" />
      <input
        hidden
        (change)="onFileSelected($event)"
        #fileInput
        type="file"
        accept="image/*"
      />
      @if (imgSource != null) {
      <img [src]="imgSource" width="50" height="50" />
      }
      <mat-error>
        <app-error [errors]="form.controls['logo'].errors"></app-error>
      </mat-error>
      <mat-icon matSuffix>image</mat-icon>
      <mat-hint>Max 2mb</mat-hint>
    </mat-form-field>
  </div>
  <div class="form-field">
    <mat-form-field>
      <mat-label>Location</mat-label>
      <input
        matInput
        placeholder="location"
        formControlName="location"
        required
      />
      <mat-error>
        <app-error [errors]="form.controls['location'].errors"></app-error>
      </mat-error>
      <mat-icon matSuffix>location_on</mat-icon>
    </mat-form-field>
  </div>
</div>
<button mat-raised-button (click)="submit()">Submit</button>
<button mat-raised-button (click)="cancel()">Cancel</button>
