table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

button {
  margin: 16px 8px;
}

ag-grid-angular {
  ::ng-deep {
    .ag-center-cols-viewport {
      min-height: unset !important;
    }
  }
}
